<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <div class="container pt-3">
        <h1 class="header">Hello {{user.first_name}}</h1>
        <div class="header">
            <a href="/add_event">Create A New Event</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="main_section">
            <h1 class="section_header">Events:</h1>
            {% for event in attending %}
            <div class="game_block">
                <p class="event_title">{{event.title}}</p>
                <p class="event_info">{{event.streetNumber}} {{event.streetName}} {{event.municipality | capitalize}}, {{event.countrySubdivision | upper}} {{event.postalCode}}</p>
                <p class="event_date">Event Date: {{event.date.strftime("%m.%d.%Y")}}</p>
                <hr>
                <div class="d-flex align-items-baseline justify-content-around action">
                    <a href="/show_event/{{event.id}}">Show Event Info</a>
                    {% if session.user_id in event.going | map( attribute = 'id' ) %}
                    <a href="/unjoin_event/{{event.id}}" class="text">Going</a>
                    {% else %}
                    <a href="/join_event/{{event.id}}" class="text">RSVP</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            <h1 class="section_header">My Hosted Events:</h1>
            <div class="events">
                {% for event in events %}
                {% if event.user_id == session.user_id %}
                <div class="game_block">
                    <div class="d-flex justify-content-between game_title">
                        <p class="event_title">{{event.title}}</p>
                        <p class="event_date">Date: {{event.date.strftime("%m.%d.%Y")}}</p>
                    </div>
                    <div class="d-flex justify-content-end actions">
                        <a href="/show_event/{{event.id}}">Show</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>