{% for event in events %}
<tr>
    <td>{{event.title}}</td>
    <td>{{event.date.strftime("%m.%d.%Y")}}</td>
    <td>{{event.capacity}}</td>
    <td>
        <a href="#">Join</a>
        <a href="#">Decline</a>
    </td>
    <td>
        <a href="/show_event/{{event.id}}">Show</a>
        <a href="/edit_event/{{event.id}}"> | Edit</a>
        <a href="#"> | Delete</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
{% for event in events %}
<div class="events_info">
<div class="col-2">
<h6 class="title">{{event.title}}</h6>
<div class="date_cap">
    <p>Date: {{event.date.strftime("%m.%d.%Y")}}</p>
    <p>Capacity: {{event.capacity}}</p>
</div>
</div>
<div class="links">
<a href="/show_event/{{event.id}}">Show</a>
<a href="#"> | Edit</a>
<a href="#"> | Delete</a>
</div>
</div>
{% endfor %}