/*

--phthalo-green: #132a13ff;
--hunter-green: #31572cff;
--sap-green: #4f772dff;
--asparagus: #90a955ff;
--key-lime: #ecf39eff;

--dark-orange: #fb8b24ff;
--dogwood-rose: #d90368ff;
--byzantium: #820263ff;
--dark-purple: #291720ff;
--green-munsell: #04a777ff;

color: rgb(134,51,139);
color: rgb(233,152,62);
color: rgb(152,195,85);

#86338b
#e9983e
#98c355


*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a,
a:hover,
a:visited,
a:link {
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
    text-decoration: none;
}

.header > a {
    color: #291720ff;
}

hr {
    color: #fff;
}

.header, .section_header {
    color: #000000;
    margin: 7px;
}

.events {
    border-radius: 7px;
    color: #fff;
    font-size: 18px;
    padding: 1px 0;
}

.game_block {
    background-image: linear-gradient(to bottom right, #028090, #14557B);
    /* background-image: linear-gradient(to bottom right, #e9983e, #86338b); */
    border-radius: 7px;
    margin: 7px;
    padding: 9px;
}

.game_title {
    font-weight: bold;
}

.event_info {
    color: #fff;
}