/*

--phthalo-green: #132a13ff;
--hunter-green: #31572cff;
--sap-green: #4f772dff;
--asparagus: #90a955ff;
--key-lime: #ecf39eff;

--dark-orange: #fb8b24ff;
--dogwood-rose: #d90368ff;
--byzantium: #820263ff;
--dark-purple: #291720ff;
--green-munsell: #04a777ff;

#86338b
#e9983e
#98c355

*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

body {
    background-color: #ffffff;
    color: #291720ff;
}

h1 {
    color: #291720ff;
}

a,
a:hover,
a:visited,
a:link {
    color: #291720ff;
    font-size: 20px;
    padding: 7px 0;
    text-decoration: none;
}

label {
    color: #291720ff;
    padding: 10px 0 3px;
}

.container {
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #26F596, #0499F2);
    /* background-image: linear-gradient(to bottom right, #98c355, #e9983e); */
    border-radius: 7px;
    margin: 10px;
    padding: 10px;
}

.btn {
    background-color: #0499F2;
    color: #291720ff;
    margin: 10px 0;
}

.active {
    color: black;
}

.non_active {
    color: white;
}