/*

CSS HEX
--phthalo-green: #132a13ff;
--hunter-green: #31572cff;
--sap-green: #4f772dff;
--asparagus: #90a955ff;
--key-lime: #ecf39eff;

CSS HSL
--phthalo-green: hsla(120, 38%, 12%, 1);
--hunter-green: hsla(113, 33%, 26%, 1);
--sap-green: hsla(92, 45%, 32%, 1);
--asparagus: hsla(78, 33%, 50%, 1);
--key-lime: hsla(65, 78%, 79%, 1);

SCSS HEX
$phthalo-green: #132a13ff;
$hunter-green: #31572cff;
$sap-green: #4f772dff;
$asparagus: #90a955ff;
$key-lime: #ecf39eff;

SCSS HSL
$phthalo-green: hsla(120, 38%, 12%, 1);
$hunter-green: hsla(113, 33%, 26%, 1);
$sap-green: hsla(92, 45%, 32%, 1);
$asparagus: hsla(78, 33%, 50%, 1);
$key-lime: hsla(65, 78%, 79%, 1);

SCSS RGB
$phthalo-green: rgba(19, 42, 19, 1);
$hunter-green: rgba(49, 87, 44, 1);
$sap-green: rgba(79, 119, 45, 1);
$asparagus: rgba(144, 169, 85, 1);
$key-lime: rgba(236, 243, 158, 1);

SCSS Gradient
$gradient-top: linear-gradient(0deg, #132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);
$gradient-right: linear-gradient(90deg, #132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);
$gradient-bottom: linear-gradient(180deg, #132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);
$gradient-left: linear-gradient(270deg, #132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);
$gradient-top-right: linear-gradient(45deg, #132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);
$gradient-bottom-right: linear-gradient(135deg, #132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);
$gradient-top-left: linear-gradient(225deg, #132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);
$gradient-bottom-left: linear-gradient(315deg, #132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);
$gradient-radial: radial-gradient(#132a13ff, #31572cff, #4f772dff, #90a955ff, #ecf39eff);

*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    margin: 0 20px;
}

.container {
    /* background-image: url('/static/img/images.jpeg'); */
    margin: 0 auto;
    padding: 20px;
}

.events_info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex: 1;
}

.col-2 {
    width: 80%;
}

.title {
    font-weight: bold;
}

.date_cap {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
}

