<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/event.css') }}">
    <title>Pickleball Event</title>
</head>
<body>
    <div class="container">
        <div class="row header">
            <a href="/add_event">Add New Event</a>
            <a href="/dashboard">Back</a>
        </div>
        <p class="title">{{event.title}}</p>
        <img style="display: block; margin: 20px auto; background-color: whitesmoke; transition: background-color 300ms;" src="{{event.url}}" width="450" height="450">
        <div class="event_info">
            <div class="date_capacity">
                <p class="label_info"><span class="label_title">Event Date:</span> {{event.date.strftime("%m.%d.%Y")}}</p>
                <p class="label_info"><span class="label_title">Open Spots:</span> {{event.capacity}}</p>
            </div>
            <p class="label_title">Address:</p>
            <p class="label_info">{{event.streetNumber}} {{event.streetName}}</p>
            <p class="label_info">{{event.municipality}}, {{event.countrySubdivision}} {{event.postalCode}}</p>
            <p class="label_title">Information:</p>
            <p class="label_info">{{event.information}}</p>
            <p class="label_title">Created By:</p>
            <p class="label_info">{{event.creator.first_name}} {{event.creator.last_name}}</p>
        </div>
        <div class="actions">
            {% if event.user_id == session.user_id %}
            <p class=""><a href="/edit_event/{{event.id}}">Edit</a></p>
            <p class=""><a href="/delete/{{event.id}}">Delete</a></p>
            {% endif %}
            {% if event.user_id != session.user_id %}
            <p class="join_event"><a href="/join_event/{{event.id}}">Join Event</a></p>
            {% endif %}
        </div>
    </div>
</body>
</html>